.d-flex{
    width: 500px;
    margin: 50px 375px;
}


.card{
    margin-top: 15px;
}

.container{
    width: 1000px;
    margin-left: 75px;
}

.card:hover{
    opacity: 0.5;
}


.modal{
    margin-left: -80px;
}

.img-pelicula{
    margin-left: 130px;
    margin-top: 15px;
}

.text_idiomas, h4{
    text-align: center;
}
